@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100;300&display=swap');


:root {
    --main-font: 'Roboto', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    --sidebar-clr: #60a5fa;
    --header-color: #1e3a8a;
    --main-color: #bae6fd;
    --card-color: #61d4e3;
    --main-font-color: #11162e;
    --header-font-color: #dbeafe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--main-font-color)
}

.container {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.3fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    position: sticky;
    top: 0;

    height: 100vh;
    grid-column: 1 ;
    grid-row: 1 / span 2;

    background-color: var(--sidebar-clr);
}

.sidebar h2 {
    position: relative;
    margin-left: 3.5rem;
    margin-top: 1rem;
    color: white;
}

.sidebar h2::before {
    position: absolute;
    top: -5px;
    left: -40px;
    display: block;
    content: url(icons/sidebar/view-dashboard.svg);
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
    height: 35px;
    width: 35px;
}




.nav, .settings {
    /* border: 1px solid black; */
    position: relative;
    display: grid;
    grid-template-rows: repeat(6, 2rem);
    margin-left: 3.5rem;
    margin-top: 2rem;

    list-style: none;
    font-size: 1.2rem;
    color: white;
}

.nav > *,
.settings > * {
    position: relative;
}


.header {
    position: sticky;
    top: 0;
    
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    
    background-color: var(--header-color);
    color: var(--header-font-color);
    padding-bottom: 10px;
}

.search-bar-wrapper {
    /* border: 1px solid white; */
    grid-column: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.search-bar-wrapper img {
    height: 25px;
    width: 25px;
    
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
}

input[type="search"] {
    width: 70%;
    height: 1.5rem;
    padding: 5px;
    appearance: none;
    background-color: var(--main-color);
    border-radius: 10px;
    border: none;
    outline: none;
}

.user-nav {
    /* border: 1px solid black; */
    
    justify-self: end;
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin-right: 2rem;
}

.user-nav > img[src="icons/spaceship.svg"] {
    height: 50px;
    width: 50px;
}



.bell-icon {
    height: 25px;
    width: 25px;
    /* border: 1px solid black; */
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
    
}

.msg-wrapper {
    width: 70%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.msg-wrapper > img {
    /* border: 1px solid white; */
    
    width: 65px;
    height: 65px;
}

.welcome-msg {
    /* border: 1px solid white; */
    width: fit-content;
    
    display: flex;
    flex-direction: column;
}

.welcome-msg p {
    font-size: 0.8rem;
}



#username {
    font-size: 1.2rem;
}

.btn-container {
    /* border: 1px solid black; */
    justify-self: end;
    margin-right: 2rem;
    
    width: 70%;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    appearance: none;
    padding: 5px 15px;
    border-radius: 15px;
    width: 80px;
    border: none;
    outline: none;
    background-color: #bae6fd;
    color: #0c4a6e;
    font-family: var(--main-font);
    
}

.content {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    padding-bottom: 20px;
    background-color: #bae6fd;
    overflow: auto;
}

.content > h3 {
    /* border: 1px solid black; */
    margin: 10px 0 10px 40px;
}

.left-container {
    /* border: 1px solid white; */
    
    
    width: 90%;
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: var(--card-color);
    min-height: 10rem;
    width: 100%;
    border-radius: 10px;
    border-left: 10px solid orange;
    
    display: flex;
    flex-direction: column;
}

.card-content {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: 20px 0 0 20px;
    width: 90%;
    height: 100%;
}


.card-content p {
    font-size: 0.8rem;
    font-weight: 300;
}

.icon-container {
    /* border: 1px solid black; */
    align-self: flex-end;
    width: 6rem;
    padding: 10px 0;
    
    display: flex;
    justify-content: space-between;
}


.right-container {
    /* border: 1px solid white; */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-container > * {
    margin-left: 40px;
}

.right-container h3 {
    padding: 10px 0 10px 0;
}

.announcement, .trending {
    background-color: var(--card-color);
    
    width: 60%;
    border-radius: 7px;
}


.announcement {
    display: flex;
    justify-content: center;
    height: 50%;
}

.ann-section-wrapper {
    /* border: 1px solid black; */
    width: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ann-section:first-child,
.ann-section:nth-child(2) {
    padding: 20px 0;
    border-bottom: 1px solid navy;
}

.ann-section:nth-child(3) {
    padding: 10px 0 20px 0;
}

.ann-section h4 {
    font-size: 0.8rem;
}

.ann-section p {
    font-size: 0.7rem;
    font-weight: 300;
}

.trending {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 35%;
    padding: 10px 0;
}

.trending-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    
    justify-items: center;
    align-items: center;
}

.trending h4 {
    font-size: 0.8rem;
    font-weight: 500;
}

.trending p {
    font-size: 0.7rem;
    font-weight: 300;
}

.trending img {
    height: 40px;
    width: 40px;
    justify-self: end;
}

.trending-content {
    justify-self: start;
    padding-left: 20px;
}

img[src="icons/ball1.svg"] {
    grid-column: 1;
    grid-row: 1;
}

img[src="icons/ball2.svg"] {
    grid-column: 1;
    grid-row: 2;
}

img[src="icons/ball3.svg"] {
    grid-column: 1;
    grid-row: 3;
}

img[src="icons/ball4.svg"] {
    grid-column: 1;
    grid-row: 4;
}

/* SIDEBAR ICONS */

.home::before {
    position: absolute;
    left: -30px;
    top: -2px;
    display: block;
    content: url(icons/sidebar/home.svg);
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
    height: 25px;
    width: 25px;
}

.profile::before {
    position: absolute;
    left: -30px;
    top: -2px;
    display: block;
    content: url(icons/sidebar/card-account-details-outline.svg);
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
    height: 21px;
    width: 21px;
}

.messages::before {
    position: absolute;
    left: -30px;
    display: block;
    content: url(icons/sidebar/message.svg);
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
    height: 22px;
    width: 22px;
}

.history::before {
    position: absolute;
    left: -30px;
    display: block;
    content: url(icons/sidebar/clock-time-five.svg);
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
    height: 22px;
    width: 22px;
}

.tasks::before {
    position: absolute;
    left: -30px;
    display: block;
    content: url(icons/sidebar/file-multiple.svg);
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
    height: 22px;
    width: 22px;
}

.communities::before {
    position: absolute;
    left: -30px;
    display: block;
    content: url(icons/sidebar/account-group.svg);
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
    height: 22px;
    width: 22px;
}

.settings::before {
    position: absolute;
    left: -30px;
    display: block;
    content: url(icons/sidebar/settings.svg);
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
    height: 22px;
    width: 22px;
}

.support::before {
    position: absolute;
    left: -30px;
    display: block;
    content: url(icons/sidebar/help-box.svg);
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
    height: 22px;
    width: 22px;
}

.privacy::before {
    position: absolute;
    left: -30px;
    display: block;
    content: url(icons/sidebar/shield-check.svg);
    filter: invert(96%) sepia(31%) saturate(6485%) hue-rotate(177deg) brightness(107%) contrast(99%);
    height: 22px;
    width: 22px;
}